<!DOCTYPE html>
<html>
<head>
	<title></title>
		<script src="https://static.anychart.com/js/8.0.1/anychart-core.min.js"></script>
<script src="https://static.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
	<script type="text/javascript">
	{% if da %}


		anychart.onDocumentReady(function(){


			  var data = [
			      {x: "Arjun is Great", value: {{da.votes1}} },
			      {x: "viva la Arjun", value: {{da.votes2}} },
			      {x: "For Arjun", value: {{da.votes3}} },
			      {x: "Great Arjun", value: {{da.votes4}} },
			     
			  ];


			  var chart = anychart.pie();


			  chart.title("Poplarity chart");


			  chart.data(data);
			  

			  chart.sort("desc");  
			  

			  chart.legend().position("right");

			  chart.legend().itemsLayout("vertical");  


			  chart.container('container');
			  chart.draw();

});


    {% endif %}
	</script>
	<style type="text/css">
		html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
	</style>
</head>

<body>


<div id="container"></div>
<p>{{da.votes1}}</p>

</body>
</html>